# Domain mode
# DOMAIN_MODE=""
# NEXT_PUBLIC_DOMAIN_MODE=""

# Backend related
# BASE_URL=""
# CLIENT_SECRET=""

# Supabase
# NEXT_PUBLIC_SUPABASE_URL=""
# NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google OAuth
# NEXT_PUBLIC_GOOGLE_OAUTH_ID=""

# OpenAI API Key
# OPENAI_API_KEY=""